table, th, td {
    border: 1px solid black;
    color: rgb(0, 0, 0);
    background-color:rgb(170, 248, 134);
  }

html {
  min-height: 100%;
  position: relative;
  }

body {
  height: 100%;
}

.bgcolor {
  background-color:rgb(34, 165, 45);
}

.bgcolor2 {
  background-color: rgb(194, 0, 0);
}