{% extends "layout.html" %}

{% block title %}Stats{% endblock %}

{% block content %}
<h1>{{ course_name }}</h1>
<hr>
<p>
<h2>Kurssin edistyminen</h2>
<p>
    {% for student in course_students %}
    {% if session.username == get_username(student.user_id) %}
    {% else %}
    <table style="width:100%">     
        <br>
        <b>{{ get_username(student.user_id) }}</b>
        <tr>
            <th>Tehtävä</th>
            <th>Tila</th> 
          </tr>
        <p>
        <tr>
            {% for problem in choiceproblems(course_id) %}
              {% if problem.id in help_function(choiceproblems(course_id), 0) %}
                {% if problem.id in help_function(solved_problems(course_id, student.user_id, "choice"), 0) %}
                    <td class="bgcolor">Tehtävä {{ loop.index }}.</td>
                    <td class="bgcolor">Ratkaistu</td> 
                    </tr>
                {% else %}
        <tr>
                <td class="bgcolor2">Tehtävä {{ loop.index }}</td>
                <td class="bgcolor2">Ei ratkaistu</td> 
                </tr>
                {% endif %}
              {% endif %}
            {% endfor %}
            <p>
                {% set length = len(choiceproblems(course_id)) %}
                    {% for problem in textproblems(course_id) %}
                        {% if problem.problem_id in help_function(textproblems(course_id), 2) %}
                            {% if problem.problem_id in help_function(solved_problems(course_id, student.user_id, "text"), 0) %}
                            <tr>
                                <td class="bgcolor">Tehtävä {{ length + loop.index  }}</td>
                                <td class="bgcolor">Ratkaistu</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td class="bgcolor2">Tehtävä {{ length + loop.index  }}</td>
                                <td class="bgcolor2">Ei ratkaistu</td>
                            </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}
