{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<h1>Etusivu</h1>
<hr>
{% if session.username %}
    <p>  
<u><h3>Omat kurssisi</u></h3>
{% if count == 0 %}
{% if is_teacher() == False %}
<br>
<p><h5>Liity kursseille kurssisivulta.</h5></p>
<p>Olet kirjautunut sisään käyttäjällä {{  session.username  }}</p>
{% else %}
<p>Olet kirjautunut sisään käyttäjällä {{  session.username  }}</p>
Voit luoda kursseja kurssisivulta.
{% endif %}
<p>
<br>
<a href="/courses" class="btn btn-primary" role="button">Kurssisivulle</a>
<a href="/logout" class="btn btn-dark" role="button">kirjaudu ulos</a>
{% else %}
<br>
    {% for course in courses2 %}
    <b>{{ course.name }}</b>
<p><a href="/course/{{ course.id }}">Näytä kurssi</a></p>
<hr>
<div style = "position:relative; left:100px; top:-57px;">
<a href="/stats/{{ course.id }}">Näytä kurssin tilastot</a>
</div>
    {% endfor %}
<p>Olet kirjautunut sisään käyttäjällä {{  session.username  }}</p>
    <br>
<a href="/logout" class="btn btn-dark" role="button">kirjaudu ulos</a>
<a href="/courses" class="btn btn-secondary" role="button">Kurssisivulle</a>
<br>
{% endif %}
{% else %}
<h4><u>Kirjaudu sisään</u></h4>
        <br>
    <form action="/login" method="POST">
        <p>Käyttäjätunnus: <br>
        <input type="username" name="username"></p>
        <p>Salasana: <br>
        <input type="password" name="password"></p>
        <input type="submit" value="Kirjaudu">
        </form>
        <br>
        <a href="/register" class="btn btn-primary" role="button">Luo uusi tili</a>
       
        {% endif %}
<br>
{% endblock %}