{% extends "layout.html" %}
{% block title %}Uusi kurssi{% endblock %} 
{% block content %}
<h1><u>Uusi kurssi</u></h1>
<br>
<h5>Aloita kurssin luominen antamalla kurssille nimi.</h5>
<p>
<form action="/newcoursename" method="post">
    <p>
    <input type="text" name="course_name" placeholder="Kurssin nimi" size="20">
    <input type="submit" value="Lisää" class="btn btn-success">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form></p>
</p>
    <br>
<br>
{% endblock %}