{% extends "layout.html" %}
{% block title %}Uusi kurssi{% endblock %} 
{% block content %}
<h1>Uusi kurssi</h1>
<hr>
<h2>{{  course_name  }}</h2>
<br>
<p><b>Lisää kurssille tekstimateriaalia</b></p>
<form action="/addcontent/{{  course_id  }}" method="post">
    Teksti: <br>
    <textarea name="content" rows="20" cols="120"></textarea>
    <br>
    <input type="submit" value="Lisää" class="btn btn-success">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
<br>
<br>
{% endblock %}