{% extends "layout.html" %}
{% block title %}Kurssit{% endblock %} 
{% block content %}
<h1>Luo uusi tili</h1>
<hr>
<h4><u>Luo käyttäjätunnus</u></h4>
<p>Käyttäjätunnuksen tulee olla 2-15 merkkiä pitkä.</p>
<form action="/register" method="POST">
    <b><p>Käyttäjätunnus: </b><br>
    <input type="username" name="username" placeholder="Käyttäjätunnus"></p>
    <br>
    <h4><u>Luo salasana</u></h4>
    <p>Salasanan tulee olla 4-19 merkkiä pitkä</p>
    <p><b>Anna salasana: </b><br>
    <input type="password" name="password1" placeholder="Salasana"></p>
    <p><b>Anna salasana uudelleen: </b><br>
        <input type="password" name="password2" placeholder="Salasana"></p>
        <br>
        <b>Oletko opiskelija vai opettaja?</b> <br>
        <input type="radio" name="title" value="teacher">
        Opettaja</p>
        <p><div style = "position:relative; left:80px; top:-40px;">
        <input type="radio" name="title" value="student" checked>
        Opiskelija</p>
        </div>
        <div style = "position:relative; top: -40px;">
        <input type="submit" value="Luo tili" class="btn btn-primary">
        </div>
    </form>
<br>
{% endblock %}